
<link rel="stylesheet" type="text/css" href="../libs/DataTables/datatables.min.css"/>
<script src="../libs/jquery-3.3.1.min.js"></script> 
<script type="text/javascript" src="../libs/DataTables/datatables.min.js"></script>

<head>
    <meta charset="UTF-8">
</head> 
<body>
    <button type="Search" id="searchButton" onclick="searchInApi()">Search</button> 
    <input type="text" id="searchWords" name="search"><br>

    <table id="products" style="width:100%">
        <thead>
                <tr>
                    <th>identificador</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Termino</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Vendidos</th>
                    <th>Tag</th>
                </tr>
            </thead>
</table>
</body>







<script>

    function searchInApi(){
        var searchWord = $('#searchWords').val();
        if (searchWord == ""){
            alert("Busqueda vacia");
            //return;
        }
        $.ajax({
        url: "http://localhost/cuponatic/view/api/search.php",
        type: "POST",
        data: {
        keyword: searchWord
        },
    success: function( result ) {
        $('#products').DataTable().destroy();
        $(document).ready(function() {
            result = jQuery.parseJSON(result);
            $('#products').DataTable( {
                data: result,
                columns: [
                    { data: 'id' },
                    { data: 'titulo' },
                    { data: 'descripcion' },
                    { data: 'fecha_inicio' },
                    { data: 'fecha_termino' },
                    { data: 'precio' },
                    { data: 'imagen',"render": function (data) {
                                return '<img src="' + data + '" />';
                            }   
                    },
                    { data: 'vendidos' },
                    { data: 'tags' },
                ]
            } );
        } );
        
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) { 
        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
    }
    
    });

        
    }

    
</script>